<header class="main-header">
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <li class="main-header__item">
        <form action="/profile" method="POST">
          <input 
            type="hidden" 
            id="email" 
            name="email" 
            type="text"
          >
          <button 
            id="user_name"
            type="submit"
            class="<%= pagePath == '/profile' ? 'active' : '' %> user_button"
          ></button>
        </form>
      </li>
      <li class="main-header__item">
        <a 
          class="<%= pagePath == '/' ? 'active' : '' %>" 
          href="/"
        >Shop</a>
      </li>
      <% if (isLoggedIn) { %>
        <li class="main-header__item">
          <a 
            class="<%= pagePath == '/admin/add-product' ? 'active' : '' %>" 
            href="/admin/add-product"
          >Add Product</a>
        </li>
        <li class="main-header__item">
          <form action="/auth/logout" method="POST">
            <button type="submit" class="user_button">Logout</button>
          </form>
        </li>
      <% } else { %>
        <li class="main-header__item">
          <a 
            class="<%= pagePath == '/auth/register' ? 'active' : '' %>" 
            href="/auth/register"
          >Register</a>
        </li>
        <li class="main-header__item">
          <a 
            class="<%= pagePath == '/auth/login' ? 'active' : '' %>" 
            href="/auth/login"
          >Login</a>
        </li>
      <% } %>
    </ul>
  </nav>
</header>